.menu{
    display: flex;
    justify-content: space-between;


    /*use hexadecimal number for background color*/
    background-color:#CE0A7A;


    padding : 15px;
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 400;


    /*use hexadecimal number for color*/
    color: #000000;


}
body{
    margin: 0px;

    /*use hexadecimal number for background color*/
    background-color: #EA80BE;
    
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{

    /*use hexadecimal number for border color */
    border: #000000; 


    border-radius : 50px;
}
.origami {
    
    border-radius: 20px;

    /*use hexadecimal number for background color*/
    background-color:  #FFFFFF;

    
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}
